
  <div class="navbar-dark bg-dark" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-outline-light navbar-expand" ngbDropdownToggle><span class="navbar-toggler-icon"></span></button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pogoda" routerLinkActive="active">
          <button ngbDropdownItem>Pogoda</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data" routerLinkActive="active">
          <button ngbDropdownItem>Data</button></a>
      </li>
    </div>
  </div>
