<!DOCTYPE html>
<html>



<nav class="navbar navbar-light">
  <div class="container"> <a class="navbar-brand text-primary" href="#">
      <i class="fa d-inline fa-lg fa-circle"></i>
      <b> POGODA</b>
    </a> </div>
</nav>
<div class="py-5 align-items-center d-flex">
  <div class="container">
    <div class="row">
      <div class="px-md-5 col-md-5" style="">
        <h1 class="display-4">Poniedzialek 21.04.2023</h1>
        <h1 class="display-3 mb-4" style="">Ciepło</h1>
      </div>
      <div class="d-flex flex-column col-md-2 mx-auto" style="">
        <div class="row">
          <div class="col-md-12" >
            <h1 class="display-4">Katowice</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-4">21°C</h1>
          </div>
        </div>
      </div>
      <div class="col-md-2 m-2 mr-4" style=""><img class="img-fluid d-block rounded-circle float-left" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-512x512-qjm8vnpc.png" width="100" height="100" style=""></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2" style="">
        <div class="row">
          <div class="col-md-12">
            <p>Wtorek<br>30°C</p>
          </div>
        </div><img class="img-fluid d-block rounded-circle float-left" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-512x512-qjm8vnpc.png" width="100" height="100">
      </div>
      <div class="col-md-2" style="">
        <div class="row">
          <div class="col-md-12">
            <p>Wtorek<br>30°C</p>
          </div>
        </div><img class="img-fluid d-block rounded-circle float-left" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-512x512-qjm8vnpc.png" width="100" height="100">
      </div>
      <div class="col-md-2" style="">
        <div class="row">
          <div class="col-md-12">
            <p>Wtorek<br>30°C</p>
          </div>
        </div><img class="img-fluid d-block rounded-circle float-left" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-512x512-qjm8vnpc.png" width="100" height="100">
      </div>
      <div class="col-md-2" style="">
        <div class="row">
          <div class="col-md-12">
            <p>Wtorek<br>30°C</p>
          </div>
        </div><img class="img-fluid d-block rounded-circle float-left" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-512x512-qjm8vnpc.png" width="100" height="100">
      </div>
      <div class="col-md-2" style="">
        <div class="row">
          <div class="col-md-12">
            <p>Wtorek<br>30°C</p>
          </div>
        </div><img class="img-fluid d-block rounded-circle float-left" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-512x512-qjm8vnpc.png" width="100" height="100">
      </div>
      <div class="col-md-2" style="">
        <div class="row">
          <div class="col-md-12">
            <p>Wtorek<br>30°C</p>
          </div>
        </div><img class="img-fluid d-block rounded-circle float-left" src="https://static-00.iconduck.com/assets.00/sun-symbol-emoji-512x512-qjm8vnpc.png" width="100" height="100">
      </div>
    </div>
  </div>
</div>


<p>weather works!</p>
<p>adres: {{ ipAddress }}</p>
<p>lat: {{lat}}</p>
<p>lon: {{lon}}</p>
<p>weather: {{weather}}</p>
<p>weather description: {{weatherDescription}}</p>
<img class="img-thumbnail" *ngIf="imageLoaded" [src]="weatherImage">
